@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&display=swap');

* {
    box-sizing: border-box;
}

body {
	display: flex;
    background-color: #032e2b;
    background-image: url(pxl_star.gif);
    background-repeat: repeat;
    background-size: 5%;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    color: #9feee8;
    font-family: "Montserrat Alternates", sans-serif;
}

h1 {
	font-family: "Josefin Slab";
	font-size: 2.6em;
    margin: 0;
}
h2 {
	font-family: "Josefin Slab";
	font-size: 1.7em;
    margin: 0;
}
p {
	font-size: 1.1em;
	font-family: "Montserrat Alternates", sans-serif;
}



.everything{
    display: flex;
    width: 100%;
}


.waveBorder {
    align-self: flex-start;
    display: flex;
    background-image: url("wavy bar.svg");
    background-repeat: repeat-y;
    height: 100vh;
    min-width: 40px;

    &.right {
        position: sticky;
        top: 0;
        transform: rotate(180deg);
    }
}
.emptyBox {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}




.sidebar {
    display: flex;
    position: sticky;
    top: 0;
    height: 100vh;
    width: 30%;
    align-self: flex-start;
}

.sideContent {
    display: flex;
    flex-direction: column;
    background-color: #39c5bb;
    text-wrap: wrap;
    text-align: center;
    padding: 30px;
    gap: 20px;
}

.artTitle {
    padding: 10px 10px;
    background: #001715;
    box-shadow: 3px 3px 0 -1px #ff1098;
    padding: 20px 20px;
    background: #3209B2;
    color: #9feee8;
    border: 4px solid #573DFF;
    border-radius: 42px;

}
.artDesc {
    padding: 20px 20px;
    background: #001715;
    box-shadow: 3px 3px 0 -1px #ff1098;
    padding: 20px 20px;
    background: #3209B2;
    color: #9feee8;
    border: 4px solid #573DFF;
    border-radius: 42px;
    width: 500px;
    align-self: center;
}

.artTags {
    bottom: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 20px;
    width: 500px;
    align-self: center;
}
.tag {
    box-shadow: 3px 3px 0 -1px #ff1098;
    padding: 20px 20px;
    background: #3209B2;
    color: #9feee8;
    border: 4px solid #573DFF;
    border-radius: 10px 42px;
    font-size: 1em;
    font-weight: 200;
    font-family: "Montserrat Alternates", sans-serif;
    text-align: center;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.backHomeButton {

    box-shadow: 3px 3px 0 -1px #ff1098;
    background: #3209B2;
    color: #9feee8;
    border: 4px solid #573DFF;
    border-radius: 42px;
    font-size: 1.3em;
    font-weight: 100;
    font-family: "Josefin Slab";
    text-align: center;
    padding: 9px 40px;
    align-self: flex-start;
    justify-self: flex-end;

    &:hover {
        background: #573DFF;
    }
}






.content {
    display: flex;
    flex-direction: column;
    width: 70%;
    overflow-x: hidden;
}
.rotateShow {
    display: flex;
    position: absolute;
    right: 240px;
    top: 30px;
    transform: rotate(6deg);
    z-index: 1;
    width: 200px;
    align-items: center;
    justify-content: center;

    & h2 {
        position:absolute;
        color: #ff1098;
        margin-top: 4px;
    }
}



.artBig {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#modelVideo {
    background-color: hotpink;
    max-width: 65%;
    user-select: none;
    padding: 20px 20px;
    background: #001715;
    color: #9feee8;
    border: 4px solid #39c5bb;
    border-radius: 42px;
    margin-top: 70px;
    cursor: move;
}


/* Playlist */
.videoChanger {
    
    position: absolute;
    right: 130px;
    bottom: 40px;
    box-shadow: 3px 3px 0 -1px #ff1098;
    background: #3209B2;
    color: #9feee8;
    border: 4px solid #573DFF;
    border-radius: 42px;
    font-weight: 100;
    font-family: "Josefin Slab";
    text-align: center;
    padding: 14px 0px;
}
 
#playlist {
    list-style: none;
}
 
#playlist li {
    margin: 3px;
    display: inline;
    box-shadow: 3px 3px 0 -1px #ff1098;
    background: #3209B2;
    color: #9feee8;
    border: 4px solid #573DFF;
    border-radius: 42px;
    font-size: .8em;
    font-weight: 100;
    font-family: "Montserrat Alternates", sans-serif;
    text-align: center;
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
        border: 4px solid #ff1098;
        box-shadow: 3px 3px 0 -1px #573DFF;
    }
}
 
#playlist li.active {
    background-color: #573DFF;
}